Repository vig-os/devcontainer: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, generate-docs, pip-licenses

.pre-commit-config.yaml:

---
# .pre-commit-config.yaml

exclude: ^\.github_data/

repos:
  # General Pre-commit Hooks (Fixes formatting issues)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python Linting and Formatting (Ruff)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # YAML Linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ["--format", "parsable", "--strict"]

  # Shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: shellcheck
        args: ["-x"]

  # Markdown Linting (excludes auto-generated docs)
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.23
    hooks:
      - id: pymarkdown
        name: pymarkdown
        args: ["-c", ".pymarkdown", "fix"]
        exclude: ^(README\.md|CONTRIBUTE\.md|TESTING\.md/)

  # Justfile formatting
  - repo: local
    hooks:
      - id: just-fmt
        name: just (format justfiles)
        entry: just --fmt --unstable
        language: system
        files: ^justfile(\..*)?$
        pass_filenames: false

  # Documentation Generation (auto-regenerate on template/requirements changes)
  - repo: local
    hooks:
      - id: generate-docs
        name: generate-docs (regenerate from templates)
        entry: bash -c 'uv run python docs/generate.py && git add README.md CONTRIBUTE.md TESTING.md 2>/dev/null || true'
        language: system
        files: ^(docs/templates/.*\.j2|docs/narrative/.*\.md|scripts/requirements\.yaml|justfile)$
        pass_filenames: false

  # Typo Linting
  - repo: https://github.com/crate-ci/typos
    rev: v1.39.0
    hooks:
      - id: typos

  # License Compliance Check (runs only when dependencies change)
  - repo: local
    hooks:
      - id: pip-licenses
        name: pip-licenses (check dependency licenses)
        entry: uv run pip-licenses --fail-on="GPL-3.0-only;GPL-3.0-or-later;AGPL-3.0-only;AGPL-3.0-or-later"
        language: system
        files: ^(pyproject\.toml|uv\.lock|requirements.*\.txt)$
        pass_filenames: false

chore: update sync-manifest config to exclude 'sync-manifest' pre-commit hook
  assets/workspace/.pre-commit-config.yaml
  scripts/manifest.toml
Due: none

fix: avoid silent failure of pre-commit hooks if tool is not available
  .pre-commit-config.yaml
Due: none

test(gh-issues): add failing test for clickable issue links in PR table
  tests/test_gh_issues.py
Due: none

fix(gh-issues): make issue numbers in PR table clickable hyperlinks
  CHANGELOG.md
  scripts/gh_issues.py
Due: none

chore: clean up old PR draft
  .github/pr-draft-128-into-dev.md
Due: none

test: add BATS test for derive-branch-summary MODEL_TIER param
  tests/bats/worktree.bats
Due: none

fix(worktree): surface derive-branch-summary errors and retry with standard model
  CHANGELOG.md
  assets/workspace/.devcontainer/justfile.worktree
  justfile.worktree
  scripts/derive-branch-summary.sh
Due: just-fmt

chore: remove setup-env action from sync manifest
  scripts/manifest.toml
Due: none

feat(image): install pre-commit in setup action
  assets/workspace/.github/actions/setup-env/action.yml
Due: none

test: add red test for bandit installation
  tests/test_image.py
Due: none

fix: install bandit system-wide in container image
  Containerfile
Due: none

fix: deploy check-skill-names.sh to workspace template
  assets/workspace/scripts/check-skill-names.sh
  scripts/manifest.toml
Due: none

docs: add CHANGELOG entry for #186
  CHANGELOG.md
Due: none

test: add regression test for just check path resolution
  tests/test_integration.py
Due: none

fix(justfile): use source_directory() for check recipe path resolution
  assets/workspace/.devcontainer/justfile.base
  justfile.base
  tests/test_integration.py
Due: just-fmt

docs(changelog): add entry for just check path fix
  CHANGELOG.md
Due: none

fix: remove empty repo blocks for all repo types in RemovePrecommitHooks
  scripts/transforms.py
Due: none

chore: remove actions from sync manifest
  assets/workspace/.pre-commit-config.yaml
  scripts/manifest.toml
Due: none

fix(workspace): sync scripts referenced by justfiles into manifest (#190)
  CHANGELOG.md
  assets/workspace/.devcontainer/justfile.worktree
  assets/workspace/.devcontainer/scripts/check-skill-names.sh
  assets/workspace/.devcontainer/scripts/derive-branch-summary.sh
  assets/workspace/.devcontainer/scripts/resolve-branch.sh
  assets/workspace/.pre-commit-config.yaml
  justfile.worktree
  scripts/manifest.toml
Due: just-fmt

refactor(skills): add pull-latest-base-before-pr to PR-creating skills
  .cursor/skills/pr_create/SKILL.md
  .cursor/skills/pr_solve/SKILL.md
  .cursor/skills/worktree_pr/SKILL.md
  assets/workspace/.cursor/skills/pr_create/SKILL.md
  assets/workspace/.cursor/skills/pr_solve/SKILL.md
  assets/workspace/.cursor/skills/worktree_pr/SKILL.md
Due: none

fix(vigutils): AI agent identity enforcement — blocklist, prepare-commit-msg, author check, PR body scan
  .cursor/skills/git_commit/SKILL.md
  .cursor/skills/worktree_execute/SKILL.md
  .cursor/skills/worktree_pr/SKILL.md
  .githooks/prepare-commit-msg
  .github/agent-blocklist.toml
  .github/workflows/pr-title-check.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  assets/workspace/.cursor/skills/git_commit/SKILL.md
  assets/workspace/.cursor/skills/worktree_execute/SKILL.md
  assets/workspace/.cursor/skills/worktree_pr/SKILL.md
  assets/workspace/.devcontainer/scripts/check-agent-identity.py
  assets/workspace/.devcontainer/scripts/check-pr-agent-fingerprints.py
  assets/workspace/.devcontainer/scripts/prepare-commit-msg-strip-trailers.py
  assets/workspace/.githooks/prepare-commit-msg
  assets/workspace/.github/agent-blocklist.toml
  assets/workspace/.pre-commit-config.yaml
  packages/vig-utils/src/vig_utils/agent_blocklist.py
  packages/vig-utils/src/vig_utils/validate_commit_msg.py
  packages/vig-utils/tests/test_validate_commit_msg.py
  scripts/check-agent-identity.py
  scripts/check-pr-agent-fingerprints.py
  scripts/init.sh
  scripts/manifest.toml
  scripts/prepare-commit-msg-strip-trailers.py
Due: none

fix(deps): use pyproject.toml as SSoT for devcontainer tools (#159)
  CHANGELOG.md
  Containerfile
  assets/workspace/.devcontainer/justfile.gh
  assets/workspace/pyproject.toml
  justfile.gh
  pyproject.toml
  scripts/prepare-build.sh
  uv.lock
Due: just-fmt, pip-licenses

fix(container): copy vig-utils before uv export to resolve workspace member
  CHANGELOG.md
  Containerfile
Due: none

docs: add skill pipeline diagram benchmark in all evaluated tools
  docs/diagrams/README.md
  docs/diagrams/skill-pipeline-d2.svg
  docs/diagrams/skill-pipeline-fletcher.svg
  docs/diagrams/skill-pipeline-graphviz.svg
  docs/diagrams/skill-pipeline-mermaid.svg
  docs/diagrams/skill-pipeline-plantuml.svg
  docs/diagrams/skill-pipeline.d2
  docs/diagrams/skill-pipeline.dot
  docs/diagrams/skill-pipeline.mmd
  docs/diagrams/skill-pipeline.puml
  docs/diagrams/skill-pipeline.typ
  docs/diagrams/skill-pipeline.yaml
  scripts/render_diagram.py
Due: none

docs: add Excalidraw, TikZ, Pikchr, and Structurizr diagram benchmarks
  docs/diagrams/README.md
  docs/diagrams/skill-pipeline-pikchr.svg
  docs/diagrams/skill-pipeline-structurizr.svg
  docs/diagrams/skill-pipeline-tikz.svg
  docs/diagrams/skill-pipeline.dsl
  docs/diagrams/skill-pipeline.excalidraw
  docs/diagrams/skill-pipeline.pikchr
  docs/diagrams/skill-pipeline.tex
Due: none

test: add failing test for devc-remote step-level progress logging
  tests/bats/devc-remote.bats
Due: none

fix: add step-level progress logging to devc-remote main pipeline
  assets/workspace/scripts/devc-remote.sh
Due: none

feat(remote): devcontainer orchestration, skills cleanup, and tooling improvements
  CONTRIBUTE.md
  Containerfile
  README.md
  assets/init-workspace.sh
  assets/workspace/.cursor/skills/ci_check/SKILL.md
  assets/workspace/.cursor/skills/code_review/SKILL.md
  assets/workspace/.cursor/skills/worktree_brainstorm/SKILL.md
  assets/workspace/.cursor/skills/worktree_ci-fix/SKILL.md
  assets/workspace/.cursor/skills/worktree_execute/SKILL.md
  assets/workspace/.cursor/skills/worktree_plan/SKILL.md
  assets/workspace/.cursor/skills/worktree_verify/SKILL.md
  assets/workspace/.devcontainer/justfile.base
  assets/workspace/.devcontainer/justfile.worktree
  assets/workspace/.devcontainer/scripts/gh_issues.py
  assets/workspace/scripts/devc-remote.sh
  assets/workspace/scripts/devc_remote_uri.py
  assets/workspace/scripts/setup-labels.sh
  justfile.base
  justfile.worktree
  pyproject.toml
  scripts/devc-remote.sh
  scripts/manifest.toml
  uv.lock
Due: just-fmt, pip-licenses

test: add red test to verify deployed package is installed during inialization
  tests/conftest.py
  tests/test_integration.py
Due: none

feat: run just sync during workspace initialization
  Containerfile
  assets/init-workspace.sh
  assets/workspace/.devcontainer/docker-compose.yml
  assets/workspace/.devcontainer/justfile.base
  justfile.base
Due: just-fmt

test: align tests with Containerfile ENV changes
  tests/test_image.py
  tests/test_integration.py
Due: none

fix: run sync recipe in update target
  assets/workspace/.devcontainer/justfile.base
  justfile.base
Due: just-fmt

chore: add README.md and CHANGELOG.md to preserve files in workspace initialization
  assets/init-workspace.sh
Due: none

chore: update CHANGELOG
  CHANGELOG.md
Due: none

chore(setup): add missing host prerequisites to setup requirements
  CHANGELOG.md
  CONTRIBUTE.md
  README.md
  scripts/requirements.yaml
Due: generate-docs

test: add alias resolution regression tests for justfile refactor
  tests/bats/justfile-aliases.bats
Due: none

refactor(workspace): move alias definitions to source justfiles and add file associations
  .vscode/settings.json
  assets/workspace/.devcontainer/justfile.gh
  assets/workspace/.devcontainer/justfile.worktree
  justfile
  justfile.gh
  justfile.podman
  justfile.worktree
Due: just-fmt, generate-docs

refactor: move alias definitions to source justfiles and add file associations
  .vscode/settings.json
  justfile
  justfile.gh
  justfile.podman
  justfile.worktree
Due: just-fmt, generate-docs

test: add BATS test for idempotent rename guard in init-workspace.sh
  tests/bats/init-workspace.bats
Due: none

fix(workspace): make init-workspace.sh idempotent for template_project rename
  assets/init-workspace.sh
  tests/bats/init-workspace.bats
Due: none
