Repository vig-os/devcontainer: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, generate-docs, pip-licenses

just-fmt:
  name: just (format justfiles)
  entry: just --fmt --unstable
  language: system
  pass_filenames: false

generate-docs:
  name: generate-docs (regenerate from templates)
  entry: bash -c 'uv run python docs/generate.py && git add README.md CONTRIBUTE.md TESTING.md 2>/dev/null || true'
  language: system
  pass_filenames: false

pip-licenses:
  name: pip-licenses (check dependency licenses)
  entry: uv run pip-licenses --fail-on="GPL-3.0-only;GPL-3.0-or-later;AGPL-3.0-only;AGPL-3.0-or-later"
  language: system
  pass_filenames: false

fix(ci): enhance test environment setup in action.yml
  .github/actions/test-integration/action.yml
Due: none

fix(ci): add docker-compose wrapper for devcontainer CLI
  .github/actions/test-integration/action.yml
Due: none

fix(ci): add base image tagging for podman in test/action.yml
  .github/actions/test-integration/action.yml
Due: none

fix(ci): enhance podman socket handling in action.yml
  .github/actions/test-integration/action.yml
Due: none

fix(test): run sidecar tests via host podman to avoid API version mismatch
  tests/test_integration.py
Due: none

refactor(ci): replace setup-python-uv with flexible setup-env action
  .github/actions/setup-env/action.yml
  .github/actions/setup-python-uv/action.yml
  .github/actions/test-image/action.yml
  .github/actions/test-integration/action.yml
Due: none

refactor(test): consolidate test files by domain
  CONTRIBUTE.md
  README.md
  TESTING.md
  docs/RELEASE_CYCLE.md
  docs/templates/TESTING.md.j2
  justfile
  tests/test_install_script.py
  tests/test_integration.py
  tests/test_release_cycle.py
  tests/test_release_scripts.py
  tests/test_utils.py
  tests/test_version_check.py
Due: just-fmt, generate-docs

ci: add test-project composite action for project-level checks
  .github/actions/test-project/action.yml
Due: none

ci: replace test.yml with streamlined ci.yml workflow
  .github/workflows/ci.yml
Due: none

feat(release): add finalize-release script and tests
  CONTRIBUTE.md
  README.md
  docs/RELEASE_CYCLE.md
  scripts/finalize-release.sh
  scripts/prepare-changelog.py
  tests/test_release_cycle.py
Due: none

refactor(ci): standardize workflow naming with release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTE.md
  docs/RELEASE_CYCLE.md
  docs/templates/CONTRIBUTE.md.j2
  justfile
  scripts/finalize-release.sh
Due: just-fmt, generate-docs

test(release): skip GitHub validation in dry-run mode
  scripts/finalize-release.sh
  tests/test_release_cycle.py
Due: none

fix(release): enforce PR and CI checks as hard gates in finalize-release
  docs/RELEASE_CYCLE.md
  scripts/finalize-release.sh
  tests/test_release_cycle.py
Due: none

docs(release): fix inaccuracies and improve RELEASE_CYCLE.md
  docs/RELEASE_CYCLE.md
  scripts/prepare-release.sh
Due: none

refactor(ci): move finalize-release from local script to GitHub Actions workflow
  .github/workflows/release.yml
  CONTRIBUTE.md
  README.md
  docs/RELEASE_CYCLE.md
  justfile
  scripts/finalize-release.sh
Due: just-fmt, generate-docs

refactor(ci): move prepare-release from local script to GitHub Actions workflow
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  docs/RELEASE_CYCLE.md
  justfile
  scripts/prepare-release.sh
Due: just-fmt, generate-docs

refactor(build): merge prepare-build.sh into build.sh
  .github/actions/build-image/action.yml
  docs/RELEASE_CYCLE.md
  scripts/build.sh
  scripts/prepare-build.sh
Due: none

fix(ci): harden release workflows and align docs with implementation
  .cursor/rules/branch-naming.mdc
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  docs/RELEASE_CYCLE.md
  scripts/prepare-changelog.py
  tests/test_release_cycle.py
Due: none

docs: fix RELEASE_CYCLE documentation for accuracy
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  docs/RELEASE_CYCLE.md
  justfile
Due: just-fmt, generate-docs

docs: update CHANGELOG
  CHANGELOG.md
Due: none

ci: add GitHub Actions SHA pinning enforcement
  .pre-commit-config.yaml
  CONTRIBUTE.md
  README.md
  justfile
  scripts/check_action_pins.py
  tests/test_check_action_pins.py
Due: just-fmt, generate-docs

docs(ci): add CODEOWNERS for automated review assignment
  .github/CODEOWNERS
Due: none

docs: add security policy and vulnerability reporting procedures
  SECURITY.md
Due: none

ci: pin GitHub Actions and Docker actions to commit SHAs
  .github/actions/build-image/action.yml
  .github/actions/setup-env/action.yml
  .github/actions/test-image/action.yml
  .github/actions/test-integration/action.yml
  .github/actions/test-project/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-issues.yml
Due: none

ci(security): harden workflow permissions and fix input injection
  .github/workflows/ci.yml
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-issues.yml
Due: none

ci(security): pin pre-commit hook repos to commit SHAs
  .pre-commit-config.yaml
Due: none

build(security): harden Containerfile with digest pinning and checksum verification
  Containerfile
Due: none

ci(security): sanitize inline expression interpolation in workflow run blocks
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
Due: none

ci(security): add vulnerability scanning, SBOM, signing, and provenance to release
  .github/workflows/release.yml
Due: none

ci(security): add vulnerability scanning and dependency review to CI pipeline
  .github/workflows/ci.yml
Due: none

ci(security): add OpenSSF Scorecard and CodeQL analysis workflows
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Due: none

docs(security): update security policy and code ownership
  .github/CODEOWNERS
  SECURITY.md
Due: none

fix(pre-commit): update exclusion pattern for pymarkdown in pre-commit config
  .pre-commit-config.yaml
Due: none

docs: update release workflow in CONTRIBUTE to match automated process
  CONTRIBUTE.md
  docs/templates/CONTRIBUTE.md.j2
Due: generate-docs

build(security): add version verification for cargo-binstall download
  Containerfile
Due: none

ci(security): sanitize input interpolation and add explicit UTF-8 encoding
  .github/actions/test-project/action.yml
  scripts/check_action_pins.py
Due: none

test: add edge case tests for changelog, action pins, and install
  tests/test_check_action_pins.py
  tests/test_release_cycle.py
  tests/test_utils.py
Due: none

build(security): add minisign signature verification for cargo-binstall
  Containerfile
Due: none

docs: update CHANGELOG with security hardening entries
  CHANGELOG.md
Due: none

ci(coverage): add code coverage reporting to test action
  .github/actions/test-project/action.yml
  pyproject.toml
  uv.lock
Due: pip-licenses

Path conditions:
  just-fmt: any of: ^justfile(\..*)?$, but not: ^\.github_data/
  generate-docs: any of: ^(docs/templates/.*\.j2|docs/narrative/.*\.md|scripts/requirements\.yaml|justfile)$, but not: ^\.github_data/
  pip-licenses: any of: ^(pyproject\.toml|uv\.lock|requirements.*\.txt)$, but not: ^\.github_data/
