Repository vig-os/devcontainer: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, generate-docs, pip-licenses

.pre-commit-config.yaml:

---
# .pre-commit-config.yaml

exclude: ^\.github_data/

repos:
  # General Pre-commit Hooks (Fixes formatting issues)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python Linting and Formatting (Ruff)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # YAML Linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ["--format", "parsable", "--strict"]

  # Shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: shellcheck
        args: ["-x"]

  # Markdown Linting (excludes auto-generated docs)
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.23
    hooks:
      - id: pymarkdown
        name: pymarkdown
        args: ["-c", ".pymarkdown", "fix"]
        exclude: ^(README\.md|CONTRIBUTE\.md|TESTING\.md/)

  # Justfile formatting
  - repo: local
    hooks:
      - id: just-fmt
        name: just (format justfiles)
        entry: just --fmt --unstable
        language: system
        files: ^justfile(\..*)?$
        pass_filenames: false

  # Documentation Generation (auto-regenerate on template/requirements changes)
  - repo: local
    hooks:
      - id: generate-docs
        name: generate-docs (regenerate from templates)
        entry: bash -c 'uv run python docs/generate.py && git add README.md CONTRIBUTE.md TESTING.md 2>/dev/null || true'
        language: system
        files: ^(docs/templates/.*\.j2|docs/narrative/.*\.md|scripts/requirements\.yaml|justfile)$
        pass_filenames: false

  # Typo Linting
  - repo: https://github.com/crate-ci/typos
    rev: v1.39.0
    hooks:
      - id: typos

  # License Compliance Check (runs only when dependencies change)
  - repo: local
    hooks:
      - id: pip-licenses
        name: pip-licenses (check dependency licenses)
        entry: uv run pip-licenses --fail-on="GPL-3.0-only;GPL-3.0-or-later;AGPL-3.0-only;AGPL-3.0-or-later"
        language: system
        files: ^(pyproject\.toml|uv\.lock|requirements.*\.txt)$
        pass_filenames: false

docs: update CHANGELOG
  CHANGELOG.md
Due: none

test(vigutils): add red tests for migrated scripts
  packages/vig-utils/tests/test_gh_issues.py
  packages/vig-utils/tests/test_shell_entrypoints.py
Due: none

feat(vigutils): migrate shared scripts into package entrypoints
  packages/vig-utils/pyproject.toml
  packages/vig-utils/src/vig_utils/check_agent_identity.py
  packages/vig-utils/src/vig_utils/check_pr_agent_fingerprints.py
  packages/vig-utils/src/vig_utils/check_skill_names.py
  packages/vig-utils/src/vig_utils/derive_branch_summary.py
  packages/vig-utils/src/vig_utils/gh_issues.py
  packages/vig-utils/src/vig_utils/prepare_commit_msg_strip_trailers.py
  packages/vig-utils/src/vig_utils/resolve_branch.py
  packages/vig-utils/src/vig_utils/setup_labels.py
  packages/vig-utils/src/vig_utils/shell/__init__.py
  packages/vig-utils/src/vig_utils/shell/check-skill-names.sh
  packages/vig-utils/src/vig_utils/shell/derive-branch-summary.sh
  packages/vig-utils/src/vig_utils/shell/resolve-branch.sh
  packages/vig-utils/src/vig_utils/shell/setup-labels.sh
  packages/vig-utils/src/vig_utils/utils.py
  uv.lock
Due: pip-licenses

refactor(setup): switch callers to vig-utils entrypoints
  .github/CODEOWNERS
  .github/label-taxonomy.toml
  .github/workflows/pr-title-check.yml
  .pre-commit-config.yaml
  Containerfile
  assets/workspace/.devcontainer/justfile.gh
  assets/workspace/.devcontainer/justfile.worktree
  assets/workspace/.github/label-taxonomy.toml
  justfile.gh
  justfile.worktree
  scripts/manifest.toml
  scripts/transforms.py
  scripts/utils.py
  tests/test_image.py
Due: just-fmt

chore(setup): remove legacy script copies and superseded tests
  .github/actions/test-project/action.yml
  assets/workspace/.devcontainer/scripts/check-agent-identity.py
  assets/workspace/.devcontainer/scripts/check-pr-agent-fingerprints.py
  assets/workspace/.devcontainer/scripts/check-skill-names.sh
  assets/workspace/.devcontainer/scripts/derive-branch-summary.sh
  assets/workspace/.devcontainer/scripts/gh_issues.py
  assets/workspace/.devcontainer/scripts/prepare-commit-msg-strip-trailers.py
  assets/workspace/.devcontainer/scripts/resolve-branch.sh
  scripts/check-agent-identity.py
  scripts/check-pr-agent-fingerprints.py
  scripts/check-skill-names.sh
  scripts/derive-branch-summary.sh
  scripts/gh_issues.py
  scripts/prepare-commit-msg-strip-trailers.py
  scripts/resolve-branch.sh
  scripts/setup-labels.sh
  tests/bats/skill-naming.bats
  tests/bats/worktree.bats
  tests/test_gh_issues.py
Due: none

refactor(vigutils): consolidate agent fingerprint helpers into shared utils
  packages/vig-utils/README.md
  packages/vig-utils/src/vig_utils/agent_blocklist.py
  packages/vig-utils/src/vig_utils/check_agent_identity.py
  packages/vig-utils/src/vig_utils/check_pr_agent_fingerprints.py
  packages/vig-utils/src/vig_utils/utils.py
  packages/vig-utils/src/vig_utils/validate_commit_msg.py
  packages/vig-utils/tests/conftest.py
  packages/vig-utils/tests/test_check_agent_identity.py
  packages/vig-utils/tests/test_check_pr_agent_fingerprints.py
  packages/vig-utils/tests/test_prepare_commit_msg_strip_trailers.py
  packages/vig-utils/tests/test_utils.py
  tests/test_utils.py
Due: none

chore(setup): remove legacy scripts/utils.py shim
  .github/CODEOWNERS
  scripts/prepare-build.sh
  scripts/utils.py
  tests/bats/prepare-build.bats
Due: none

feat(ci): add candidate release mode with inferred RC tags
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTE.md
  README.md
  docs/RELEASE_CYCLE.md
  justfile
Due: just-fmt, generate-docs

test: add case for inline ## markers truncating changelog extraction
  packages/vig-utils/tests/test_prepare_changelog.py
Due: none

fix: anchor changelog regex to line starts to prevent truncation
  packages/vig-utils/src/vig_utils/prepare_changelog.py
Due: none

feat: redesign release CHANGELOG flow and replace post-release with PR-based sync
  .cursor/rules/changelog.mdc
  .github/workflows/post-release.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-main-to-dev.yml
  CHANGELOG.md
  CONTRIBUTE.md
  assets/workspace/.cursor/rules/changelog.mdc
  docs/RELEASE_CYCLE.md
  docs/templates/CONTRIBUTE.md.j2
  justfile
Due: just-fmt, generate-docs

ci: migrate workflow tokens to RELEASE_APP and COMMIT_APP
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-issues.yml
  .github/workflows/sync-main-to-dev.yml
  CHANGELOG.md
  assets/workspace/.github/workflows/sync-issues.yml
  docs/RELEASE_CYCLE.md
Due: none

fix(setup): enhance parse_requirements to support multiline install commands
  scripts/init.sh
Due: none

fix(setup): update `just` installation instructions to use `sudo`
  CONTRIBUTE.md
  scripts/requirements.yaml
Due: generate-docs

feat(setup): add hadolint for Containerfile/Dockerfile linting
  CONTRIBUTE.md
  scripts/requirements.yaml
Due: generate-docs

feat(setup): update hadolint configuration to use local binary
  .github/actions/setup-env/action.yml
  .github/actions/test-project/action.yml
  .pre-commit-config.yaml
  scripts/manifest.toml
Due: none

test(image): add hadolint tool verification tests
  tests/test_image.py
Due: none

feat(image): install hadolint with checksum verification
  Containerfile
Due: none

test: fix init installer-key checks with parser mappings
  tests/bats/init.bats
Due: none

chore: update .trivyignore to include CVE-2025-15558 exception
  .trivyignore
Due: none

feat: add taplo TOML linting pre-commit hooks
  .pre-commit-config.yaml
  .taplo.toml
  CHANGELOG.md
  assets/workspace/.pre-commit-config.yaml
  assets/workspace/.taplo.toml
  scripts/manifest.toml
Due: none

chore: run taplo TOML linting and formatting
  .cursor/agent-models.toml
  .github/agent-blocklist.toml
  assets/workspace/.cursor/agent-models.toml
  assets/workspace/.github/agent-blocklist.toml
  assets/workspace/pyproject.toml
  packages/vig-utils/pyproject.toml
  pyproject.toml
  scripts/manifest.toml
Due: pip-licenses

chore: exclude .taplo.toml from downstream sync
  CHANGELOG.md
  assets/workspace/.taplo.toml
  scripts/manifest.toml
Due: none

chore: update package versions in uv.lock with 'just update'
  uv.lock
Due: pip-licenses

fix(image): daemonize 'tailscaled' to survive postStartCommand exit
  assets/workspace/.devcontainer/scripts/setup-tailscale.sh
Due: none

feat(podman): add arch detection and mismatch handling to push-ssh
  justfile.podman
Due: just-fmt

chore: add Claude Code integration with project commands
  .claude/commands/ci_check.md
  .claude/commands/ci_fix.md
  .claude/commands/code_debug.md
  .claude/commands/code_execute.md
  .claude/commands/code_review.md
  .claude/commands/code_tdd.md
  .claude/commands/code_verify.md
  .claude/commands/design_brainstorm.md
  .claude/commands/design_plan.md
  .claude/commands/git_commit.md
  .claude/commands/inception_architect.md
  .claude/commands/inception_explore.md
  .claude/commands/inception_plan.md
  .claude/commands/inception_scope.md
  .claude/commands/issue_claim.md
  .claude/commands/issue_create.md
  .claude/commands/issue_triage.md
  .claude/commands/pr_create.md
  .claude/commands/pr_post-merge.md
  .claude/commands/pr_solve.md
  .claude/commands/worktree_ask.md
  .claude/commands/worktree_brainstorm.md
  .claude/commands/worktree_ci-check.md
  .claude/commands/worktree_ci-fix.md
  .claude/commands/worktree_execute.md
  .claude/commands/worktree_plan.md
  .claude/commands/worktree_pr.md
  .claude/commands/worktree_solve-and-pr.md
  .claude/commands/worktree_verify.md
  .claude/settings.json
  CLAUDE.md
Due: none

chore: add Nix flake devShell for reproducible host tooling
  .envrc
  .gitignore
  .pre-commit-config.yaml
  assets/workspace/.pre-commit-config.yaml
  flake.lock
  flake.nix
Due: none

chore: add .direnv/ to gitignore
  .gitignore
Due: none

docs: add Tailscale SSH design document
  docs/designs/tailscale-ssh.md
Due: none

feat(remote): add Tailscale key injection and --open/--yes flags
  assets/workspace/scripts/devc-remote.sh
  scripts/devc-remote.sh
  tests/bats/devc-remote.bats
Due: none

feat(remote): add --open ssh mode with Tailscale wait and connection output
  assets/workspace/scripts/devc-remote.sh
  scripts/devc-remote.sh
  tests/bats/devc-remote.bats
Due: none

feat(remote): auto-detect IDE from TERM_PROGRAM with fallback chain
  assets/workspace/scripts/devc-remote.sh
  scripts/devc-remote.sh
  tests/bats/devc-remote.bats
Due: none

fix(setup): switch taplo pre-commit from source compilation to system binary
  .pre-commit-config.yaml
  CONTRIBUTE.md
  Containerfile
  assets/workspace/.pre-commit-config.yaml
  scripts/requirements.yaml
Due: generate-docs

fix(setup): correct taplo release URL and use latest version
  CONTRIBUTE.md
  Containerfile
  scripts/requirements.yaml
Due: generate-docs

fix(ci): add taplo install to CI setup-env action
  .github/actions/setup-env/action.yml
  .github/actions/test-project/action.yml
Due: none

test: add taplo installation and version verification
  tests/test_image.py
Due: none
