Repository vig-os/devcontainer: changes, and which pre-commit hooks are due for each by the changed paths.
All: just-fmt, generate-docs, pip-licenses

just-fmt:
  name: just (format justfiles)
  entry: just --fmt --unstable
  language: system
  pass_filenames: false

generate-docs:
  name: generate-docs (regenerate from templates)
  entry: bash -c 'uv run python docs/generate.py && git add README.md CONTRIBUTE.md TESTING.md 2>/dev/null || true'
  language: system
  pass_filenames: false

pip-licenses:
  name: pip-licenses (check dependency licenses)
  entry: uv run pip-licenses --fail-on="GPL-3.0-only;GPL-3.0-or-later;AGPL-3.0-only;AGPL-3.0-or-later"
  language: system
  pass_filenames: false

test: add BATS tests for init-workspace non-empty detection
  tests/bats/init-workspace.bats
Due: none

feat: add PR analysis, file-based matrix, and parent milestone convention to triage skill
  .cursor/skills/issue-triage/SKILL.md
Due: none

feat: add discussion issue template
  .github/ISSUE_TEMPLATE/discussion.yml
Due: none

chore: add 'agent' to allowed commit message scopes
  .pre-commit-config.yaml
Due: none

chore: add 'agent' to allowed commit message scopes
  tests/conftest.py
Due: none

chore: sync workspace for devc asset
  assets/workspace/.github/ISSUE_TEMPLATE/discussion.yml
Due: none

feat: add GitHub issue and PR dashboard recipe
  CHANGELOG.md
  CONTRIBUTE.md
  README.md
  assets/workspace/.devcontainer/justfile.gh
  assets/workspace/.devcontainer/scripts/gh_issues.py
  assets/workspace/justfile
  justfile
  justfile.gh
  scripts/gh_issues.py
  scripts/sync_manifest.py
Due: just-fmt, generate-docs

feat: add worktree support for parallel agent development
  .cursor/skills/worktree:ask/SKILL.md
  .cursor/skills/worktree:brainstorm/SKILL.md
  .cursor/skills/worktree:execute/SKILL.md
  .cursor/skills/worktree:plan/SKILL.md
  .cursor/skills/worktree:pr/SKILL.md
  .cursor/skills/worktree:solve-and-pr/SKILL.md
  .cursor/skills/worktree:verify/SKILL.md
  .cursor/worktrees.json
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTE.md
  README.md
  justfile
  justfile.worktree
  scripts/sync_manifest.py
Due: just-fmt, generate-docs

fix: check existing cursor-agent login before requiring API key
  justfile.worktree
Due: just-fmt

fix: unset core.hooksPath in worktree before pre-commit install
  justfile.worktree
Due: just-fmt

fix: drop --install-hooks from worktree setup
  justfile.worktree
Due: just-fmt

fix: auto-trust worktree directory and pass --yes to cursor-agent
  justfile.worktree
Due: just-fmt

fix: use trustedDirectories config instead of nonexistent --yes flag
  justfile.worktree
Due: just-fmt

fix: ensure trust for pre-existing worktrees on restart
  justfile.worktree
Due: just-fmt

feat: pass --yolo to cursor-agent for autonomous command execution
  justfile.worktree
Due: just-fmt

test: add comprehensive tests for version-check just recipes
  .github_data/issues/issue-73-plan.md
  tests/test_integration.py
Due: none

feat(devcontainer): add just check recipe to justfile.base
  assets/workspace/.devcontainer/justfile.base
Due: none

feat(devcontainer): wire version-check into post-attach.sh
  assets/workspace/.devcontainer/scripts/post-attach.sh
Due: none

fix(devcontainer): correct update instructions in version-check notification
  assets/workspace/.devcontainer/scripts/version-check.sh
Due: none

feat(devcontainer): add host-side devcontainer-upgrade recipe
  assets/workspace/.devcontainer/justfile.base
Due: none

docs: update CHANGELOG for version-check wiring and upgrade recipe
  CHANGELOG.md
Due: none

test: update expected gh CLI version to 2.87
  tests/test_image.py
Due: none

refactor: consolidate label taxonomy as single source of truth
  .cursor/skills/issue:triage/SKILL.md
  .cursor/skills/issue:triage/label-taxonomy.md
  .github/label-taxonomy.toml
  assets/workspace/.cursor/skills/issue:triage/SKILL.md
  assets/workspace/.cursor/skills/issue:triage/label-taxonomy.md
Due: none

chore: add short aliases for podman, worktree, and github recipes
  CONTRIBUTE.md
  README.md
  justfile
Due: just-fmt, generate-docs

feat: add autonomous CI check and fix capabilities
  .cursor/rules/branch-naming.mdc
  .cursor/skills/issue:claim/SKILL.md
  .cursor/skills/worktree:ci-check/SKILL.md
  .cursor/skills/worktree:ci-fix/SKILL.md
  .cursor/skills/worktree:pr/SKILL.md
  .cursor/skills/worktree:solve-and-pr/SKILL.md
  CLAUDE.md
Due: none

fix: drop v prefix from release tags
  .github/actions/build-image/action.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTE.md
  README.md
  assets/workspace/.github/workflows/release.yml
  docs/RELEASE_CYCLE.md
  docs/generate.py
  docs/templates/CONTRIBUTE.md.j2
Due: generate-docs

docs: update CHANGELOG
  CHANGELOG.md
Due: none

chore: update GitHub CLI version check to 2.87
  CHANGELOG.md
  tests/test_image.py
Due: none

refactor: Code organization
  tests/test_image.py
Due: none

chore: update sync issues workflow schedule
  .github/workflows/sync-issues.yml
Due: none

fix(agent): allow worktree branches in pre-commit hook
  .pre-commit-config.yaml
  docs/designs/.gitkeep
  docs/rfcs/.gitkeep
Due: none

docs: add RFC template for inception phase
  docs/templates/RFC.md
Due: none

docs: add DESIGN template for inception phase
  docs/templates/DESIGN.md
Due: none

feat(agent): add inception:explore skill
  .cursor/skills/inception:explore/SKILL.md
Due: none

feat(agent): add inception:scope skill
  .cursor/skills/inception:scope/SKILL.md
Due: none

feat(agent): add inception:architect skill
  .cursor/skills/inception:architect/SKILL.md
Due: none

feat(agent): add inception:plan skill
  .cursor/skills/inception:plan/SKILL.md
Due: none

docs: add inception skills to CLAUDE.md command table
  CLAUDE.md
Due: none

docs: add inception skills to CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  just-fmt: any of: ^justfile(\..*)?$, but not: ^\.github_data/
  generate-docs: any of: ^(docs/templates/.*\.j2|docs/narrative/.*\.md|scripts/requirements\.yaml|justfile)$, but not: ^\.github_data/
  pip-licenses: any of: ^(pyproject\.toml|uv\.lock|requirements.*\.txt)$, but not: ^\.github_data/
